<div class=" m-5" >
  <header>
    <div>
    <a href="" class="logo-menu"
    [routerLink]="['/']"
    >
      RICK AND MORTY
    </a>
  
    <nav>
      <ul>
        <li class="page-item disabled">
          <i class="fa-sharp fa-solid fa-backward"
            (click)="previous()" *ngIf="pages > 1"
          ></i>       
      </li>
      <li><a href="#">Page: {{pages}}</a></li>
      <li class="page-item">
        <i class="fa-solid fa-forward"
        (click)="next()" *ngIf="pages != pagesTotal"
        ></i>
      </li>
      </ul>
    </nav>
  </div>
  </header>
    <div class="row row-cols-1 row-cols-md-5 g-4 mt">
        <div class="col" *ngFor="let element of dataCharaters">
        <div class="card">
            <img src="{{element.image}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{element.name}}</h5>
            <i class="fa-solid fa-heart me-2 boton" style="font-size:30px;color:red;"
            (click)="saveCharacter(element.id)" 
            ></i>
            <i class="fa-regular fa-eye" style="font-size:30px;color:gray;"
             [routerLink]="['/detalle',element.url]"
            ></i>
            <p class="card-text"><strong>Especie: {{element.species}}</strong></p>
              <button type="button" class="btn btn-primary fw-bold" data-bs-toggle="modal"
              (click)="ultimoEpisodio(element.episode[element.episode.length - 1])"
               data-bs-target="#ModalEpisode">
               Ultimo Episodio
              </button>
            <p class="card-text"><strong>Estado: {{element.status}}</strong></p>
            </div>
            <div class="card-footer">
                <i class="fa-solid fa-location-dot"
                  data-bs-toggle="modal"
                  (click)="location(element.location.url)"
                  data-bs-target="#ModalLocation"
                >&nbsp;<small class="text-muted">{{element.location.name}}</small></i>                
              </div>
        </div>
        </div>
        
    </div>
    </div>
    <!-- Modals -->
<div class="modal fade" id="ModalEpisode" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <app-modal-episode
  [dataEndEpisode]="dataEndEpisode"
  ></app-modal-episode>
</div>
<div class="modal fade" id="ModalLocation" tabindex="-1" aria-labelledby="ModalLabe2" aria-hidden="true">
  <app-modal-location
  [dataLocation]="dataLocation"
  ></app-modal-location>
</div>