<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{dataEndEpisode.titleEpisode}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <strong><p>Fecha: {{dataEndEpisode.fechaEpisodio}}</p></strong>
      <strong><p>Serie: {{dataEndEpisode.serieEpisodio}}</p></strong>
      <strong><p>Numero de episodio: {{dataEndEpisode.numeroEpisodio}}</p></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
