<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{dataLocation.titleLocation}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <strong><p>TIPO: {{dataLocation.tipoLocation}}</p></strong>
      <strong><p>DIMENSION: {{dataLocation.dimension}}</p></strong>
      <strong><p>NUMERO DE RESIDENTES: {{dataLocation.numeroResidentes}}</p></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
